$assets_url: '/wp-content/themes/wp-web-betasigmaphi/assets/dist/images/';

#home-venue{
	background: url('#{$assets_url}flower-home-section1-left.png') left top no-repeat, url('#{$assets_url}flower-home-section1-right.png') right top no-repeat;
	 @include media-breakpoint-down(sm) {
		background: url('#{$assets_url}flower-home-section1-left.png') left top no-repeat;
	 }	
}

#home-agenda{
	background: url('#{$assets_url}flower-home-section1-left.png') left bottom no-repeat, url('#{$assets_url}flower-home-section3-topleft.png') left top no-repeat, url('#{$assets_url}flower-home-section3-topright.png') right top no-repeat;
	@include media-breakpoint-down(sm) {
		background: url('#{$assets_url}flower-home-section1-left.png') left bottom no-repeat;
	}
}

#home-contact-us, #venue-contact-us{
	background: url('#{$assets_url}flower-home-contact-bottomleft.png') left bottom no-repeat;
}

#venue-intro{
	background: url('#{$assets_url}flower-home-section3-midleft.png') left 80px no-repeat, url('#{$assets_url}flower-home-section3-topright.png') right top no-repeat;
	@include media-breakpoint-down(sm) {
	 	background: url('#{$assets_url}flower-home-section3-topright.png') right top no-repeat;
	 }
}

#venue-agenda{
	background: url('#{$assets_url}flower-home-section1-left.png') left bottom no-repeat;
}

#contact-content{
	background: url('#{$assets_url}flower-home-section3-midleft.png') left bottom no-repeat;
}

.about-section-1 {
	background: url('#{$assets_url}flower-home-section3-midleft.png') left bottom no-repeat, url('#{$assets_url}flower-home-section3-topright.png') right top no-repeat;
}

.about-section-2 {
	background: url('#{$assets_url}flower-home-section1-left.png') left no-repeat;
}

.about-section-3 {
	background: url('#{$assets_url}flower-home-contact-bottomleft.png') left bottom no-repeat;
}

@media (min-width: 520px){
	#home-contact-us, #venue-contact-us{
		background: url('#{$assets_url}flower-home-contact-bottomleft.png') left bottom no-repeat, url('#{$assets_url}flower-home-section3-bottomright.png') right bottom no-repeat;
	}

	.about-section-3 {
		background: url('#{$assets_url}flower-home-contact-bottomleft.png') left bottom no-repeat, url('#{$assets_url}flower-home-section3-bottomright.png') right bottom no-repeat;
	}

	#contact-content{
		background: url('#{$assets_url}flower-home-section3-midleft.png') left bottom no-repeat, url('#{$assets_url}flower-venue-section1-right.png') right top no-repeat;
	}

}