a{
	color: map_get($colors,"secondary");
	transition: color .4s ease, background-color .4s ease;
	&:hover, &:active, &:focus{
		color: map_get($colors, "primary");
	}
}
hr.lg{
	margin-top: $hr-margin-y * 3;
	margin-bottom: $hr-margin-y * 3;
}

.bg{
	background-repeat: no-repeat;
	background-size: initial;
}

.bg-left-top{
	@extend .bg;
	background-position: left top;
}

.bg-left-bottom{
	@extend .bg;
	background-position: left bottom;
}

.bg-right-top{
	@extend .bg;
	background-position: right top;
}

.bg-right-bottom{
	@extend .bg;
	background-position: right bottom;
}

.bg-right {
	@extend .bg;
	background-position: right;
}

.bg-left {
	@extend .bg;
	background-position: left;
}

.bg-bottom{
	@extend .bg;
	background-position: bottom;
}

.about-and-team {
	& > div {
		//change path afterwards
		background-image: url('/wp-content/themes/wp-theme-child/assets/dist/images/flower-home-section3-topright.png');
		background-repeat: no-repeat;
		background-position: right top;
		& > div > div:last-child {
			@extend .m-auto;

			& > p > span {
				width: 50%;
				background-color: green;
			}
		}
	}
}

.flexible_2_column_grid{
	.text-editor{
		@extend .py-3;
		@extend .py-md-0;
	}
}

.flexible_call-to-action {
	.button {
		a {
			@extend .btn-sm;
		}
	}
}


// Form Styling

.gform_wrapper {

	input:not([type='submit']), textarea{
		background: transparent;
		border-width: 1px;
		border-style: solid;
		border-color: theme-color("primary");
		padding: 7px 10px !important;
		border-radius: 3px;
		&::placeholder {
			//color: theme-color("primary");
		}
	}

	.gform_footer{
		margin-top: 0 !important;

		input[type='submit']{
			@extend .btn-sm;
		}
	}
}

.agenda{
	.nav-tabs{
		display: flex;
		>li{
			flex: 1 1 0;
			a{
				width: 100%;
				text-align: center;
				padding: 15px;
				display: inline-block;
				font-size: 1.2rem;
				background-color: theme-color('primary');
				color: #fff;
				&:hover {
					background-color: lighten(theme-color('secondary'), 10%);
					color: theme-color('primary');
				}
			}

			a.active{
				color: theme-color('primary');
				background-color: theme-color('secondary');
			}
		}
	}
	.tab-content{
		.card{
			border: 0;
			border-bottom: 0;

			.card-header{
				background-color: transparent;
				margin-bottom: 0;
				border: 0;
				border-top: 1px solid #e2e2e2;
				padding: 0;

				button{
					width: 100%;
					font-size: 1rem;
					padding-left: 0;
					padding-right: 0;
					padding-top: 20px;
					padding-bottom: 20px;
					position: relative;

					&[aria-expanded="true"]{
						.arrow{
							i{
								transform: rotate(180deg);
							}
						}
					}

					.arrow{
						position: absolute;
					    right: 30px;
					    top: 50%;
					    transform: translateY(-50%);
					    
					    i{
					    	font-size: 20px;
					    	color: #c7c7c7;
					    	transition: all .3s ease-in-out 0s;
					    }
					}

					.time-section{
						display: flex;
						flex-wrap: wrap;
						@extend .font-family-paragraph;

						.time{
							flex-basis: 100%;
							text-align: left;
							
							@include media-breakpoint-up(sm){
								flex-basis: 300px;
							}

							.fa-clock{
								margin-right: 6px;
							}
							
						}
						.title{
							flex-basis: 100%;
							text-align: left;
							margin-top: 10px;

							@include media-breakpoint-up(sm){
								margin-top: 0;
								flex-basis: calc(100% - 300px);
							}
							
						}
					}
				}
			}	
			.card-body{
				padding-left: 0;
				padding-right: 0;
			}	
		}

		.tab-pane{
			@extend .py-3;
		}
	}

	.pdfs{
		display: flex;
    	flex-wrap: wrap;
    	.pdf{
    		margin-right: 30px;
    		font-size: .8rem;

    		&:last-child{
    			margin-right: 0;
    		}

    		.fa-file-pdf{
    			padding-right: 8px;
    		}
    	}
	}
}

#venue-grid{
	.flexible_grid{
		>div{
			@include media-breakpoint-up(md){
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

// Member Styling
.member-list {
	margin: auto;
	text-align: center;
}

.home{
	main{
		position: relative;
		background-color: #fff;
	}
}

.member-list{
	.image{
		text-align: left;
		img{
			width: 100%;
			max-width: 400px;
		}
	}
}