#site-footer{
	.footer-nav{
		ul.menu{
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			a{
				@extend .font-family-paragraph;
				&:hover {
					color: theme-color('secondary') !important;
				}
			}
		}
	}
	.site-info {
		a:hover {
			color: theme-color('secondary') !important;
		}
	}
	.site-longevity {
		a:hover {
			color: theme-color('secondary') !important;
		}
	}
}