.nav-link{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

h1{
	line-height: 0;
}

.font-family-heading{
	font-family: 'Playfair Display', serif;
}

.font-family-paragraph{
	font-family: 'Lato', sans-serif;
}

.container-sm{
	.text-editor{
		max-width: 700px;
		margin: auto;
	}
}

.bg-cover{
	background-size: cover;
}

.btn-white:hover {
	background-color: theme-color('secondary');
	border-color: lighten(theme-color('secondary'), 10%);
}

.btn-dark:hover {
	background-color: theme-color('white');
	border-color: theme-color('dark');
	color: theme-color('dark');
}

.btn-primary:hover {
	background-color: theme-color('white');
	border-color: theme-color('dark');
	color: theme-color('dark');
}

.btn {
	border-radius: .2rem;
}