#site-header{
	transition: all .5s ease-out 0s;

	.header-main{
		transition: all .5s ease-out 0s;

	}

	.main-nav-left, .main-nav-right{
		display: none;

		@include media-breakpoint-up($nav-breakpoint-up){
			display: block;
		}
		.nav-link {
			&:hover {
				color: 	theme-color('primary');
			}
			@include media-breakpoint-down(md) {
				font-size: 18px;
			}
		}
	}

	.main-nav-mobile{
		display: block;

		@include media-breakpoint-up($nav-breakpoint-up){
			display: none;
		}
	}

	.mobile-toggle{
		i{
			color: #fff;
		}
	}

	&.scrolled{
		background-color: theme-color('primary');

		.header-main{
			padding-top: 10px;
			padding-bottom: 10px;
		}


		.main-navigation .navbar-nav a.nav-link{
			&:hover, &:active, &:focus{
				color: map_get($colors, "secondary");
			}
		}
	}
}

.top-banner{
	position: relative;

	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		>div{
			padding: 20px;
			width: 100%;
			height: 100%;
			@extend .container;
		}
	}

	.gallery{
		img{
			width: 100%;
			height: 260px;
			object-fit: cover;
		}
	}
}

.page:not(.home){
	.overlay{
		>div{
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
			padding: 0;
			font-size: 7.5rem;
			font-weight: bold;
			@extend .font-family-heading;
			color: #fff;
			line-height: 100%;
		    overflow: hidden;
		    >div{
		    	margin-bottom: -13px;
		    	@include media-breakpoint-down(sm) {
		    		margin-bottom: -8px;
		    	}
		    }
		    @include media-breakpoint-down(sm) {
		    	font-size: 5.2rem;
		    }
		}
	}
}

.home{
	.top-banner{
		.overlay{
			>div{
				display: flex;
				align-items: center;
				justify-content: center;

				h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
					font-family: 'Lato', sans-serif;
				}
			}
		}
	}
	.gallery{
		img{
			height: 550px;
		}
	}
}

#site-content{
	padding-top: 0 !important;
}

