.lg-dropdown{
	position: relative;
	display: inline-block;
}
.lg-dropdown-btn{
	padding-right: 40px;
	&:after{
		content: "\f078";
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		-webkit-font-feature-settings: normal;
		font-feature-settings: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		position: absolute;
		right: 10px;
		top: 15px;
		color: #fff;
	}
}
.lg-dropdown-btn.active{
	&:after{
		content: "\f077";
	}
}

.lg-dropdown-content{
	position: absolute;
	min-width: 200px;
	background-color: #fff;
	box-shadow: 0 0 4px 0 #dddddd;
	z-index: 1;
	display: none;
	a{
		display: block;
		padding: 10px 20px;
		transition: all 0.4s ease;
		color: map_get($colors,"primary");
		&:hover, &.active{
			color: #ffffff;
			background-color: map_get($colors,"secondary");
		}
	}

}

.lg-dropdown-content.active{
	display: block;
}